<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Orders - FoodShare</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='secondary.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="navbar">
    <!-- FoodShare Logo -->
    <a href="{{  url_for('home_page') }}" style="margin:0px;  padding: 0px;">
        <img src="{{ url_for('static', filename='logo.png') }}" height="48px" width="100px"
             style="vertical-align:top; border-bottom: 1px solid #333;">
    </a>
    <a href="{{  url_for('buyer_dashboard') }}"><i class="fa fa-cutlery"></i> &nbsp;Restaurants</a>
    <a href="{{  url_for('change_password') }}"><i class="fa fa-edit"></i> &nbsp;Edit Profile</a>
    <a href="{{ url_for('buyer_orders') }}" class="active"><i class="fa fa-credit-card"></i> &nbsp;My Orders</a>
    <a href="{{ url_for('view_cart') }}"><i class="fa fa-shopping-cart"></i> &nbsp;Cart</a>
    <a href="/contact_us"><i class="fa fa-envelope"></i> &nbsp;Contact FoodShare</a>
    <a href="{{  url_for('logout_page') }}" class="split">Logout &nbsp;<i class="fa fa-sign-out"></i></a>
    <a href="{{  url_for('seller_dashboard') }}" class="split">Switch to Seller View &nbsp;<i
            class="fa fa-angle-double-right"></i></a>
</div>
<center>
    <div style="display: flex; justify-content: center;">
        <section class="modal hidden">
            <div class="flex">
                <button class="btn-close">⨉</button>
            </div>
            <div>
                <h3 class="modal-header">Add Review</h3>
                <p>Add a review of your order to provide valuable insights for other potential customers.</p>
            </div>
            <table border="0" align="center" style="text-align: center;">
                <form name="addreview" id="modaladdreviewform" method="POST" action="/reviews/add">
                    <input type="hidden" id="modalitemid" name="orderid" value="">
                    <tr>
                        <td style="text-align: left;">Title</td>
                        <td><input type="text" name="title" id="modaltitle" required size="37"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Description</td>
                        <td><textarea name="description" id="modaldesc" required
                                      style="resize: none; height:100px; width: 290px;"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Stars</td>
                        <td style="padding: 4px;">
                            <input type="hidden" name="stars" id="modalstars" value=0 required>
                            <span class="fa fa-star" id="modalstar1" onclick="modalSetStars(1);"
                                  style="cursor:pointer;"></span>
                            <span class="fa fa-star" id="modalstar2" onclick="modalSetStars(2);"
                                  style="cursor:pointer;"></span>
                            <span class="fa fa-star" id="modalstar3" onclick="modalSetStars(3);"
                                  style="cursor:pointer;"></span>
                            <span class="fa fa-star" id="modalstar4" onclick="modalSetStars(4);"
                                  style="cursor:pointer;"></span>
                            <span class="fa fa-star" id="modalstar5" onclick="modalSetStars(5);"
                                  style="cursor:pointer;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn" style="width: 100%;">Save</button>
                        </td>
                    </tr>
                </form>
            </table>
        </section>
    </div>
    <div class="overlay hidden"></div>

    <h1>Pending Orders</h1>
    <table class="tables" style="width: 65%;">
        <tr>
            <th>Restaurant</th>
            <th>Date</th>
            <th>Time</th>
            <th>Amount</th>
            <th>Order Status</th>
            <th colspan="2">Order Actions</th>
            <th>Invoice</th>
        </tr>
        {% for order in orders %}
        {% if order.orderstatus == 'Preparing' or order.orderstatus == 'Ready' %}
        <tr id="{{ order.orderid }}">
            <td><a href="/restaurants/{{ order.restaurant.restid }}">{{ order.restaurant.name }}</a></td>
            <td>{{ order.date }}</td>
            <td>{{ order.time }}</td>
            <td>${{ "%.2f"|format(order.amount) }}</td>
            <td><b>{{ order.orderstatus }}</b></td>
            <td colspan="2" style="padding: 0px; margin: 0px;">
                <button class="button tablebutton" style="vertical-align:middle"
                        onclick="cancelOrder({{ order.orderid }});"><span>Cancel Order </span></button>
            </td>
            <td><a href="/orders/invoice/{{ order.orderid }}" target="_blank"><i class="fa fa-file-text-o"
                                                                                 style="font-size:20px"></i></a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <br>
    <h1>Completed Orders</h1>
    <table class="tables" style="width: 65%;">
        <tr>
            <th>Restaurant</th>
            <th>Date</th>
            <th>Time</th>
            <th>Amount</th>
            <th colspan="2">Reviews</th>
            <th>Invoice</th>
        </tr>
        {% for order in orders %}
        {% if order.orderstatus == 'Collected' %}
        <tr id="{{ order.orderid }}">
            <td><a href="/restaurants/{{ order.restaurant.restid }}">{{ order.restaurant.name }}</a></td>
            <td>{{ order.date }}</td>
            <td>{{ order.time }}</td>
            <td>${{ "%.2f"|format(order.amount) }}</td>
            {% if order.review == none %}
            <td colspan="2" id="{{ order.orderid }}reviewbtn" style="padding: 0px; margin: 0px;">
                <button class="button tablebutton" style="vertical-align:middle"
                        onclick="openAddReviewModal({{ order.orderid }});"><span>Add Review </span></button>
            </td>
            {% else %}
            <td colspan="2" id="{{ order.orderid }}reviewbtn">
                {% for i in range(order.review) %}
                <span class="fa fa-star checked"></span>
                {% endfor %}
                {% for i in range(5 - order.review) %}
                <span class="fa fa-star"></span>
                {% endfor %}
            </td>
            {% endif %}
            <td><a href="/orders/invoice/{{ order.orderid }}" target="_blank"><i class="fa fa-file-text-o"
                                                                                 style="font-size:20px"></i></a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <div id="snackbar"></div>
</center>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% if alert %}
<script>
    notify("{{ alert }}");
</script>
{% endif %}
</body>
</html>
