<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
        {% if change_password %}
            Change Password
        {% else %}
            Reset Password
        {% endif %}
        - FoodShare
    </title>
</head>
<body>
{% if change_password %}
<div class="navbar">
<!-- FoodShare Logo -->
<a href="{{  url_for('home_page') }}" style="margin:0px;  padding: 0px;">
<img src="{{ url_for('static', filename='logo.png') }}" height="48px" width="100px" style="vertical-align:top; border-bottom: 1px solid #333;">
</a>
<a href="{{  url_for('buyer_dashboard') }}"><i class="fa fa-cutlery"></i> &nbsp;Restaurants</a>
<a href="{{  url_for('change_password') }}" class="active"><i class="fa fa-edit"></i> &nbsp;Edit Profile</a>
<a href="{{ url_for('buyer_orders') }}"><i class="fa fa-credit-card"></i> &nbsp;My Orders</a>
<a href="{{ url_for('view_cart') }}"><i class="fa fa-shopping-cart"></i> &nbsp;Cart</a>
<a href="/contact_us"><i class="fa fa-envelope"></i> &nbsp;Contact FoodShare</a>
<a href="{{  url_for('logout_page') }}" class="split">Logout &nbsp;<i class="fa fa-sign-out"></i></a>
<a href="{{  url_for('seller_dashboard') }}" class="split">Switch to Seller View &nbsp;<i class="fa fa-angle-double-right"></i></a>
</div>
<br><br>
<center>
<div class="card" style="width: 50%;">
  <h1>Change your Password</h1>
  <div class="container">
{% else %}
<div class="navbar">
<!-- FoodShare Logo -->
<a href="{{  url_for('home_page') }}" style="margin:0px;  padding: 0px;">
<img src="{{ url_for('static', filename='logo.png') }}" height="48px" width="100px" style="vertical-align:top; border-bottom: 1px solid #333;">
</a>
  <a href="/"><i class="fa fa-home"></i> &nbsp;Home</a>
  <a href="/login"><i class="fa fa-sign-in"></i> &nbsp; Login</a>
  <a href="/sign_up"><i class="fa fa-pencil"></i> &nbsp;Sign Up</a>
  <a href="/contact_us"><i class="fa fa-envelope"></i> &nbsp;Contact Us</a>
</div>

<ul class="breadcrumb" style="margin: 0px;">
  <li><a href="/login">Login</a></li>
  <li>Reset Password</li>
</ul>
      <br><br>
<center>
<div class="card" style="width: 55%;">
  <h1>Reset your Password</h1>
  <div class="container">
{% endif %}
{% if stage == 1 %} <!-- Asking for email address -->
<p><font color="red">{{ error }}</font></p>
<form method="POST" action="/reset_password">
<p>We'll email you with a link to reset your password once you submit this form.</p>
    Enter your email address: <input name="email" type="email" size="35" required autofocus>
    <br>
    <button type="submit" class="button greenhovereffect">Send Reset Link</button>
</form>
{% elif stage == 2 %} <!-- After submitting Stage 1 form -->
<p>Please check your email. The password reset link has been sent to your inbox.</p>
{% elif stage == 3 or change_password %} <!-- After clicking link sent by email or for changing password (not reset) -->
<form method="POST" action="{{ request.url }}" onsubmit="return validateForm();">
    {% if change_password %}
    <p>Fill in the below fields to change your password.</p>
    {% else %}
    <p>Hi {{ fname }}, please fill in the below fields to reset your password.</p>
    {% endif %}
    <table border=0 cellspacing=10 style="text-align: left;">
        <tr>
            <td>New Password:</td>
            <td>
                <input type="password" name="password" required onkeyup="validatePassword(); checkMatchingPasswords();" autofocus>
                &nbsp; <input type="checkbox" name="showpassword" onclick="toggleShowPassword();"> Show Password
            </td>
        </tr>
        <tr id="passvalidation" hidden>
            <td colspan="2">
                <table border="0" cellspacing="10">
                    <tr>
                        <td colspan="2">A valid password must contain the following:</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>A special character</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>A number</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>An uppercase letter</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>At least eight characters</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>Re-Enter Password:</td>
            <td><input type="password" name="repassword" required onkeyup='checkMatchingPasswords();'> &nbsp;&nbsp;<span id="passmatchvalidate"></span></td>
        </tr>
    </table>
    <button type="submit" class="button greenhovereffect">
        {% if change_password %}
            Change Password
        {% else %}
            Reset Password
        {% endif %}
    </button>
</form>
{% endif %}
            </div>
</div>
    </center>
      <div id="snackbar"></div>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% if alert %}
<script>
    notify("{{ alert }}");
</script>
{% endif %}
</body>
</html>
