<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - FoodShare</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}

.content {
  padding: 40px;
}


    </style>
</head>
</style>
</head>
<body>
<div class="navbar">
    <!-- FoodShare Logo -->
    <a href="{{  url_for('home_page') }}" style="margin:0px;  padding: 0px;">
        <img src="{{ url_for('static', filename='logo.png') }}" height="48px" width="100px"
             style="vertical-align:top; border-bottom: 1px solid #333;">
    </a>
    <a class="active" href="/"><i class="fa fa-home"></i> &nbsp;Home</a>
    <a href="/login"><i class="fa fa-sign-in"></i> &nbsp; Login</a>
    <a href="/sign_up"><i class="fa fa-pencil"></i> &nbsp;Sign Up</a>
    <a href="/contact_us"><i class="fa fa-envelope"></i> &nbsp;Contact Us</a>
</div>
<br><br>
<div class="content">
    <div class="row">
        <div class="column"
             style="background-image: url('{{ url_for('static', filename='logo.png') }}'); background-repeat: no-repeat; height: 300px;">
            <!-- Shows FoodShare Logo -->
        </div>
        <div class="column" style="background-color: lightblue;">
            <h2>About FoodShare</h2>
            <p>
                FoodShare originally started not as a business, but as a group of friends sharing food.
                <br>
            <center>What was initially...</center>
            <br>
            <i>"I'm too tired to cook today. I need to cook both vegetables and chicken with the rice!"</i>
            <br><br>
            <i>"Well, what about you make some extra chicken, I'll cook the vegetables, and we'll take half of
                each?"</i>
            <br><br>
            <center>turned into...</center>
            <br>
            <i>Who's chicken should I buy today?</i>
            <br><br>
            <i>Wow, I made $10 today just by making a larger quantity of the chicken I would've cooked anyways!</i>
            </p>
        </div>
    </div>
    <br>
    <p>
        Now, we've properly established as a business. From the comfort of your home, you can order delicious and
        quality home-made food from your neighbours. We've made it easy for you to order food from your local
        households, and we've made it easy for the home chefs to make money from their cooking, without spending any extra effort!
    </p>
    <p>
        Our goal is that everyone can effortlessly make money from their cooking, without the hassle associated with
        setting up a restaurant. You can either cook part of your meal and purchase the rest from our many restaurants,
        or you can purchase the entire meal yourself. It's up to you!
    </p>
    <p>
        Do note that there is no delivery service, so you will have to pick up your food from the home chef's house.
    </p>
    We hope you enjoy your experience with FoodShare! To sign up, click <a href="/sign_up">here</a>.
    <br><br>
    If you have any questions, don't hesitate to contact us through our <a href="/contact_us">online form</a>.
</div>
<div id="snackbar"></div>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% if alert %}
<script>
    notify("{{ alert }}");
</script>
{% endif %}
</body>
</html>
