<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>FoodShare - Reset Password</title>
</head>
<body>
{% if change_password %}
<h1>Change your password</h1>
{% else %}
<h1>Reset your password</h1>
{% endif %}
{% if stage == 1 %} <!-- Asking for email address -->
<p>{{ error }}</p>
<form method="POST" action="/reset_password">
    <p>Please enter your email address, so we can email you with a link to reset your password</p>
    Enter your email address: <input name="email" type="email" required autofocus>
    <button type="submit">Send Email</button>
</form>
{% elif stage == 2 %} <!-- After submitting Stage 1 form -->
<p>Please check your email. A link you can use to reset your password has been sent to your inbox.</p>
{% elif stage == 3 or change_password %} <!-- After clicking link sent by email or for changing password (not reset) -->
<form method="POST" action="{{ request.url }}" onsubmit="return validateForm();">
    {% if change_password %}
    <p>Fill in the below fields to change your password.</p>
    {% else %}
    <p>Hi {{ fname }}, please fill in the below fields to reset your password.</p>
    {% endif %}
    <table border=0 cellspacing=10>
        <tr>
            <td>Password:</td>
            <td>
                <input type="password" name="password" required onkeyup="validatePassword(); checkMatchingPasswords();" autofocus>
                &nbsp; <input type="checkbox" name="showpassword" onclick="toggleShowPassword();"> Show Password
            </td>
        </tr>
        <tr id="passvalidation" hidden>
            <td colspan="2">
                <table border="0" cellspacing="10">
                    <tr>
                        <td colspan="2">A valid password must contain the following:</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>A special character</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>A number</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>A lowercase or uppercase letter</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>At least eight characters</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>Re-Enter Password:</td>
            <td><input type="password" name="repassword" required onkeyup='checkMatchingPasswords();'> &nbsp;&nbsp;<span id="passmatchvalidate"></span></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Reset Password</button></td>
        </tr>
    </table>
</form>
{% endif %}
</body>
</html>
