<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ restaurant.name }} - FoodShare</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div class="navbar">
    <!-- FoodShare Logo -->
    <a href="{{  url_for('home_page') }}" style="margin:0px;  padding: 0px;">
        <img src="{{ url_for('static', filename='logo.png') }}" height="48px" width="100px"
             style="vertical-align:top; border-bottom: 1px solid #333;">
    </a>
    <a href="{{  url_for('buyer_dashboard') }}"><i class="fa fa-cutlery"></i> &nbsp;Restaurants</a>
    <a href="{{  url_for('change_password') }}"><i class="fa fa-edit"></i> &nbsp;Edit Profile</a>
    <a href="{{ url_for('buyer_orders') }}"><i class="fa fa-credit-card"></i> &nbsp;My Orders</a>
    <a href="{{ url_for('view_cart') }}"><i class="fa fa-shopping-cart"></i> &nbsp;Cart</a>
    <a href="/contact_us"><i class="fa fa-envelope"></i> &nbsp;Contact FoodShare</a>
    <a href="{{  url_for('logout_page') }}" class="split">Logout &nbsp;<i class="fa fa-sign-out"></i></a>
    <a href="{{  url_for('seller_dashboard') }}" class="split">Switch to Seller View &nbsp;<i
            class="fa fa-angle-double-right"></i></a>
</div>
<ul class="breadcrumb" style="margin: 0px;">
    <li><a href="/restaurants">Restaurants</a></li>
    <li>{{ restaurant.name }}</li>
</ul>
<div class="restaurantviewcontainer">
    <div class="card restaurantviewitem">
        <div class="imagecontainer1" style="height: 100px; width: 40%; float: left;">
            <img src="/uploads/{{ restaurant.coverpic }}"
                 style="float: left; object-fit: contain; height: 100%; width: 100%;">
        </div>
        <h1>{{ restaurant.name }}</h1>
        <p style="text-align: center;">{{ restaurant.address }}</p>
        <div class="container">
            {% if restaurant.avgreview %}
            {{ '&nbsp;<span class="fa fa-star checked" style="font-size: 26px;"></span>'|safe *
            restaurant.avgreview|round|int }}
            {{ '<span class="fa fa-star" style="font-size: 26px;"></span>&nbsp;'|safe *
            (5-restaurant.avgreview|round|int) }}
            <span style="font-size: 26px;">
                {{ restaurant.avgreview }} stars
                (<a href="/reviews/view/{{ restaurant.restid }}">{{ restaurant.numreviews }} reviews</a>)
            </span>
            {% else %}
            <span style="font-size: 26px;">No reviews yet</span>
            {% endif %}
            <br>
            <span style="font-size: 20px;">
{% if restaurant.distance >= 1000 %}
        {{ "%.1f"|format(restaurant.distance / 1000) }} kilometres away
    {% else %}
        {{ restaurant.distance|round(-1, 'ceil')|int }} metres away
    {% endif %}
      </span>
            <br>
            <!-- Prefilled email template to contact the restaurant, using mailto -->
            <p>
                <a href="mailto:{{ (restaurant.userid|fetch_user).email }}?subject=Enquiry%20about%20{{ restaurant.name }}&body=Hi%20there%2C%0D%0A%0D%0AI'm%20emailing%20you%20to%20enquire%20about%20your%20restaurant%20on%20FoodShare.">
                    Contact the restaurant</a> for any queries.
            </p>
        </div>
    </div>
    <!-- Google Maps Embed -->
    <div class="restaurantviewitem">
        <iframe
                width="100%"
                height="100%"
                frameborder="0" style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key={{ GOOGLE_API_KEY }}&q={{ restaurant.latitude|urlencode }}, {{ restaurant.longitude|urlencode }}">
            allowfullscreen>
        </iframe>
    </div>
</div>
<div style="clear: both;">
    <br>
    <h1 style="text-align: center;">Restaurant Menu</h1>
    <br>
    {% for row in restaurant.menu %}
    <div class="row">
        {% for item in row %}
        <div class="column">
            <div class="multicard">
                <img src="/uploads/{{ item.picture }}" width=100% height=200px style="object-fit:scale-down;">
                <h3>{{ item.name }}</h3>
                <p><b>${{ "%.2f"|format(item.price) }}</b></p>
                <p>{{ item.description }}</p>
                {% if item.restrictions != [''] %}
                <p>Contains {{ ", ".join(item.restrictions) }}</p>
                {% else %}
                <p>Contains no allergens</p>
                {% endif %}
                <p>
                    <button onclick="updateCart({{ item.itemid }}, 'decrement');"><i class="fa fa-minus"></i></button>
                    {% if item.itemid in cart.keys() %}
                    <input type="text" value="{{ cart[item.itemid] }}" name="quantity" id="{{ item.itemid }}" disabled
                           size="1" title="Quantity in Cart"
                           style="background-color: gray; border: 0px; text-align: center; color: white;">
                    {% else %}
                    <input type="text" value="0" name="quantity" id="{{ item.itemid }}" disabled size="1"
                           title="Quantity in Cart"
                           style="background-color: gray; border: 0px; text-align: center; color: white;">
                    {% endif %}
                    <button onclick="updateCart({{ item.itemid }}, 'increment');"><i class="fa fa-plus"></i></button>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
{% endfor %}
{% if restaurant.menu|length == 0 %}
<center>
    <div class="card">
        <h1 style="text-align: center;">This restaurant has no menu items yet.</h1>
    </div>
</center>
{% endif %}
<br><br>
<center>
<button type="button" class="button greenhovereffect" onclick="window.open('/cart/view', '_self')">Proceed to Checkout &nbsp;<i class="fa fa-shopping-cart"></i></button>
</center>
<br><br><br><br>
<div id="snackbar"></div>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% if alert %}
<script>
    notify("{{ alert }}");
</script>
{% endif %}
</body>
</html>
