<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>FoodShare - Sign Up</title>
</head>
<body>
<form method="POST" action="/sign_up" onsubmit="return validateForm();">
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <h3>All fields marked with an asterisk (<font color=red><sup>*</sup></font>) are required</h3>
    <table border=0 cellspacing=10>
        <tr>
            <td><font color=red><sup>*</sup></font>First Name:</td>
            <td><input type="text" name="fname" required></td>
        </tr>
        <tr>
            <td><font color=red><sup>*</sup></font>Last Name:</td>
            <td><input type="text" name="lname" required></td>
        </tr>
        <tr>
            <td><font color=red><sup>*</sup></font>Email:</td>
            <td><input type="email" name="email" required></td>
        </tr>
        <tr>
            <td><font color=red><sup>*</sup></font>Address:</td>
            <td>
                <input type="text" size="50" name="address" onkeyup="autocompleteAddress(this.value);" required>
                <div id="address_autocomplete"><ul></ul></div>
            </td>
        </tr>
        <tr>
            <td><font color=red><sup>*</sup></font>Password:</td>
            <td>
                <input type="password" name="password" required onkeyup="validatePassword(); checkMatchingPasswords();">
                <input type="checkbox" name="showpassword" onclick="toggleShowPassword();"> Show Password
            </td>
        </tr>
        <tr id="passvalidation" hidden>
            <td colspan="2">
                <table border="0" cellspacing="10">
                    <tr>
                        <td colspan="2">A valid password must contain the following:</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>A special character</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>A number</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>An uppercase character</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>At least eight characters</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td><font color=red><sup>*</sup></font>Re-Enter Password:</td>
            <td><input type="password" name="repassword" required onkeyup='checkMatchingPasswords();'> &nbsp;&nbsp;<span id="passmatchvalidate"></span></td>
        </tr>
        <tr>
            <td colspan="2"><input type="checkbox" name="keep_me_logged_in" checked> Keep me Logged In</td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Sign Up</button></td>
        </tr>
        <tr>
            <td colspan="2">Already have an account? <a href="{{ url_for('loginpage') }}">Log in.</a></td>
        </tr>
    </table>
</form>
</body>
</html>
