<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Menu - FoodShare</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='updatemenu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
<section class="modal hidden">
  <div class="flex">
    <button class="btn-close">⨉</button>
  </div>
  <div>
    <h3 class="modal-header">Add Food Item</h3>
    <p>
      Lorem Ipsum Dolor Sit Amet
    </p>
  </div>
    <form name="addfooditem" id="modalform" method="POST" action="/fooditem/add" enctype="multipart/form-data">
  <!-- Form -->
        <input type="hidden" id="modalitemid" name="itemid" value="">
        Name <input type="text" name="name" id="modalname" required>
        <br>
        Description <input type="text" name="description" id="modaldesc" required>
        <br>
        Price $<input type="number" step=".01" name="price" id="modalprice" required>
        <br>
        Image <input type="file" name="itemimg">
        <br>
        Dietary Restrictions
        <br>
        <input type="checkbox" name="dietary" value="dairy" id="dietarydairy"> Dairy Products
        <br>
        <input type="checkbox" name="dietary" value="meat" id="dietarymeat"> Meat
        <br>
        <input type="checkbox" name="dietary" value="seafood" id="dietaryseafood"> Seafood
        <br>
        <input type="checkbox" name="dietary" value="eggs" id="dietaryeggs"> Eggs
        <br>
        <input type="checkbox" name="dietary" value="nuts" id="dietarynuts"> Nuts
        <br>
        <button type="submit" class="btn">Save</button>
        <button type="button" class="btn" onclick="modalDeleteFoodItem();">Delete</button>
</form>

</section>

<div class="overlay hidden"></div>
<div class="navbar">
<!-- FoodShare Logo -->
<a href="{{  url_for('home_page') }}" style="margin:0px;  padding: 0px;">
<img src="{{ url_for('static', filename='logo2.png') }}" height="48px" width="100px" style="vertical-align:top; border-bottom: 1px solid #333;">
</a>
<a href="{{  url_for('seller_dashboard') }}">My Orders</a>
<a href="{{  url_for('edit_restaurant') }}" class="active">Edit Restaurant/Menu</a>
<a href="/reviews/view/{{ restaurant.restid }}">My Restaurant Reviews</a>
<a href="{{  url_for('logout_page') }}" class="split">Logout</a>
<a href="{{  url_for('buyer_dashboard') }}" class="split">Switch to Buyer View</a>
</div>
<h2>Update Restaurant Details</h2>
<form method="POST" enctype="multipart/form-data" action="/restaurant/edit">
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <table border=0 cellspacing=10>
        <tr>
            <td>Name of Restaurant:</td>
            <td><input type="text" name="name" value="{{ restaurant.name }}" required autofocus></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" name="address" value="{{ restaurant.address }}" required></td>
        </tr>
        <tr>
            <td>Cover Picture:</td>
            <td><input type="file" name="coverpic" accept="{{ allowed_extensions }}"> </td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Update Restaurant</button></td>
        </tr>
    </table>
</form>
<h2>Current Menu</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
        <th>Dietary Restrictions</th>
        <th>In Menu</th>
        <th>Actions</th>
    </tr>
    {% for item in fooditems %}
    <form name="updatemenu" id="{{ item.itemid }}" method="POST" action="/menu/update">
        <input type="hidden" name="itemid" value="{{ item.itemid }}">
        <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>${{ item.price }}</td>
        <td><img src="/uploads/{{ item.picture }}" height="25" width="50"></td>
        <td>{{ ", ".join(item.restrictions) }}</td>
        <td>
            <input type="checkbox" name="menu" onclick="document.getElementById('{{ item.itemid }}').submit();"
                   {% if item.inmenu %} checked {% endif %}>
        </td>
            <td><button type="button" onclick="addEditFoodItem({{ item.itemid }}, '{{ item.name }}', '{{ item.description }}', '{{ item.price }}', '{{ ', '.join(item.restrictions) }}');">Edit/Delete</button></td>
        </tr>
    </form>
    {% endfor %}
</table>
<button class="addfooditem" onclick="addEditFoodItem();">Add Food Item</button>
<div id="snackbar"></div>
<script src="{{ url_for('static', filename='updatemenu.js') }}"></script>
{% if alert %}
<script>
    notify("{{ alert }}");
</script>
{% endif %}
</body>
</html>
